@model ejemplo1.Models.Producto

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group mb-3">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Descripcion" class="control-label"></label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Cantidad" class="control-label"></label>
        <input asp-for="Cantidad" class="form-control" type="number" />
    </div>

    <div class="form-group mb-3">
        <label asp-for="Precio" class="control-label"></label>
        <input asp-for="Precio" class="form-control" type="text" />
    </div>

    <div class="form-group mb-3">
        <label class="control-label">Imagen del Producto</label>
        <input type="file" name="imagenArchivo" class="form-control" accept="image/*" />
    </div>

    <div class="form-group">
        <input type="submit" value="Guardar Producto" class="btn btn-primary" />
    </div>
</form>